*{
    box-sizing: border-box;
}
body{
  background-color: cornsilk
}
h1 {
    
    font-family: cursive;
    font-style: normal;
    border-radius: 15px; 
    border: 6px solid darkred; 
    background-color: black;
    color: white;
    text-align: center;
    padding-bottom: 10px;
    margin-bottom: 40px;
}

h2 {
    
    font-size: 30px;
    color: black;
    border-left: 4px solid darkred;
    margin-bottom: 40px;
}

p {
    font-size:30px;
}

.column {
  float: left;
  width: 33.33%;
  padding: 5px;
}
.row::after {
  content: "";
  clear: both;
  display: table;
}
.respons {
   background-image: url('https://www.gran-turismo.com/images/c/i1narWc4jTRNjO.jpg');    
   background-size:  cover;
    background-repeat: no-repeat;
} 


